<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title  %></title>
    <link rel="stylesheet" href="/form.css">
    <link rel="stylesheet" href="/auth.css">
    <link rel="stylesheet" href="/main.css">
</head>
<body>
   <%- include('./includes/navigation.ejs') %>

   <main>
    <h2><%= transactionData.type  %> </h2>
    <p>Amount Added : <%= transactionData.amount %> </p>
    <p>Updated Balance : <%= transactionData.balance %> </p>
    <p>Transaction Time : <%= transactionData.date %> </p>
    <p>Description : <%= transactionData.des %> </p>
    <p>Ref Id : <%= transactionData.id %> </p>
   </main>
    
</body>
</html>